.entrega {
    background-color: #283052;
    width: 60%;
    margin: 4.5% 20%;
    border: none;
    border-radius: 50px;
}

.parte {
    background-color: #222947;
    width: 85%;
    height: 3em;
    margin: 3% 7.5%;
    display: inline-block;
    border-radius: 1.5em;
}

.entregaImg {
    width: 2em;
    height: 2em;
    display: inline-block;
    margin: 0.5em;
}

.entregaNome {
    color: #FFFFFF;
    font-weight: 700;
    display: inline-block;
    position: relative;
    bottom: 20px;
}

.feito {
    float: inline-end;
    width: 17px;
    height: 17px;
    margin: 1.2em;
}