h2 {
    text-align: center;
}

.login {
    background-color: #283052;
    width: 60%;
    margin: 6.7% 20%;
    border-radius: 50px;
}

form {
    padding: 5%;
}

label {
    color: #FFFFFF;
    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
    padding: 0.5em 5%;
}

#email,
#senha {
    margin: 0 5%;
    width: 90%;
    height: 30px;
    background-color: #222947;
    border: none;
    border-radius: 20px;
}

#enviar {
    color: #FFFFFF;
    margin: 7% auto 1px;
    width: 400px;
    height: 50px;
    font-size: 30px;
    background-color: #222947;
    display: block;
    border: none;
    border-radius: 100px;
}

.loginCadastro {
    color: #FFFFFF;
    display: block;
    text-align: center;
    padding: 20px 0 30px;
}

.loginCadastroLink {
    color: #0869e8;
    text-decoration: none;
}