.carrossel {
    margin: 10px;
    width: 98%;
    height: 420px;
}

.titulo {
    margin: 10px;
    font-family: cursive;
}

.livro {
    width: 200px;
    border: 1px solid #000000;
    display: inline-block;
}

.capaFantasia {
    width: 150px;
    margin-left: 13%;
}

.capaRomance {
    width: 150px;
    margin-left: 13%;
}

.capaAventura {
    width: 150px;
    margin-left: 13%;
}

.nomeLivro {
    color: #000000;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    margin: 10px;
}

.precoLivro {
    color: #000000;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    margin: 10px;
}

.precoLivro::before {
    content: "R$";
}